*{
    box-sizing: border-box;
}
body{
    margin:0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 73%;
    margin: auto;
}
.header{
    position: relative;
    height: 420px;
}
.image-container{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.header-body-section{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
}
.nav{

    font-weight: 550;
    height: 50px;
}
.container-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logoContainer{
    display: flex;
    align-items: center;
}
.logoContainer p{
    padding: 5px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    padding: 5px 10px ;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;
}
.header-body-content{
    position: relative;
    top: -50px;
}
.header-body-section-discover{
    font-size: 40px;
    margin: 30px 0px;
    font-weight: 300px;

}
.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 770px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    color: #000;
}
.location-map{
    color: rgb(241, 155, 155);
    font-size: 22px;

}
.caret-up{
    color: #000;
}
.detectLocation input{
    border: none;
    font-size: 15px;
    width: 190px;
}
.search-item{
    color: #7b7a7a;
    font-size: 18px;
}
.line{
    padding: 7px;
}
.search-item input{
    max-width: 100%;
    width: 400px;
    font-size: 15px;
    border: none;
    padding: 5 10px;
    outline: none;
}
/**section 1 features**/
.section-1{
    margin-top: 40px;
    margin-bottom: 40px;
}
.containe-features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.features{
    overflow: hidden;
    border-radius: 20px;
    border: 0.5px solid rgb(220, 215, 215);
}
.feature-image{
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.feature-image img{
    width: 100%;
}
.features h3,
.features p{
    padding-left: 20px;
}
.features:hover{
    transition: transform 0.4s;
    transform:scale(1.04) ;
    cursor: pointer;
}
section{
    padding: 20px 0;
}

/* section-2 collections */

.section-2-left h1{
    font-size: 40px;
    margin-bottom: 0;
}
.section-2-left p{
    font-size: 20px;
    margin-top: 0;
    letter-spacing: 1px;
    font-weight: 200;
}
.section-2-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2-right{
    align-self: flex-end;
    color: rgb(227, 84, 84);
}
.section-2-items{
    max-width: 268px;
    height: 320px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-left: 0.7em;
}
.section-2-items:first-child{
    margin-left: 0;
}
.section-2-items img{
    width: 100%;
    height: 100%;
    
}
.section-2-image-description{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow:  00px 00px  50px rgba(0,0,0,0.2);
    inset: 00px 00px 50px rgba(0,0,0,0.2);
}
.section-2-image-description p{
    margin: 0;
   font-size: 19px; 
}
.section-2-image-description p:nth-child(2){
    font-size: 18px;
}
.section-2-body{
    display: flex;
}

/* ***section-3 localities*** */
.section-3{
    width: 1115px;
    margin: 120px auto;
    margin-bottom: 4rem;
}
.section-3-heding{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400px;
}
.section-3 .section-3-container .section-3-items{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
}
.section-3 .section-3-container .section-3-items .section-3-item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(215, 215, 215);
    padding: 15px;
}
.section-3 .section-3-container .section-3-items .section-3-seemore{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    max-width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(215, 215, 215);
    padding: 20px;
}
.section-3-item .item-head{
    font-size: 1.2rem;
    color:rgb(36, 36, 36);
    margin: 0%;
    margin-bottom: 5px;
}
.section-3-item .item-subhead{
    font-weight: lighter;
    color:grey;
    margin: 0;
}
/* ****sectin 4 app**** */
.section-4{
    height: 500px;
    background-color: rgb(255, 251, 247);
}
.section-4-container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-img{
    width: 40%;
}
.section-4-img img{
    width: 400px;
}
.section-4-content h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section-4-content p{
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section-4-download img{
    width: 27%;
}
/* *****section 5 explore near me***** */
.section-5{
    margin-bottom: 80px; /*temp */
    background-color: rgb(249, 249, 249);
}
.section-5 h1{
    font-size: 30px;
    font-weight: lighter;
    color: rgb(37, 37, 37);
    margin: 0;
}
.section-5_collapse_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 7px;
    padding: 0 25px;
    margin: 25px 0px;
    color: rgb(57, 57, 57);
    background-color: white;
}
.section-5_collapse h2{
    font-size: 21px;
    font-weight: 50;
}
/* ***footer*** */
.flagimage{
    width: 20px;
    height: 15px;
}
.flagimage img{
    width: 100%;
    height: 100%;
}
.footeroptionsection{
    display: flex;
    border: 1px solid #ccc;
    padding: 5px;
    align-items: center;
}
.footeroptionsection:first-child{
    margin-right: 30px;
}
.footeroptionsection select{
    width: 80px;
    border: none;
}
.footerlanguagecountry{
    display: flex;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    width: 130px;
}
.footer-logo img{
    width: 100%;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.dowloadApp{
    width: 140px;
    display: block;
}
.dowloadApp img{
    width: 100%;
}
.footer-menu ul{
    padding: 0;
    list-style: none;
}
.footer-menu h3{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
}
.footer-menu a{
    color: #7b7a7a;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.5;
}
.socialmedialinks{
    margin-bottom: 10px;
    font-size: 18px;
}
.horizontalLine{

}